.registration-container {
  background-color: white;
  width: 40%;
  margin: 0 auto;
  text-align: center;
  background: #f4f6f7;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.22);
  border-radius: 8px;
  position: relative;
  color: rgb(94, 91, 91);
}
.user-information {
  font-size: 34px;
  letter-spacing: 4px;
  margin: 30px 0 10px 0;
  background: #6cf7b6;
  padding: 4px;
  text-align: center;
  color: #FFF;
  font-weight: bold;
  border-radius: 8px;
  padding-top: 16px;
}
.name-field {
  margin-top: 20px;
  font-size: 24px;
  input[type='text']:focus {
    border: 2px solid #7cfaf8;
    outline: none;
  }
}
#user_name {
  height: 35px;
  margin: 10px 0 20px 0;
  padding: 6px;
  font-size: 23px;
  width: 45%;
}
.password-field {
  font-size: 24px;
  // margin: 10px 0 10px;
  input:focus {
    border: 2px solid #7cfaf8;
    outline: none;
  }
}
#user_password {
  height: 35px;
  margin: 10px 0 20px 0;
  padding: 6px;
  font-size: 23px;
}
.repassword-field {
  margin: 0 0 30px;
  font-size: 22px;
  input:focus {
    border: 2px solid #7cfaf8;
    outline: none;
  }
}
#user_password_confirmation {
  height: 35px;
  margin: 10px 0 10px 0;
  padding: 6px;
  font-size: 23px;
}
#actions-regist {
  padding-bottom: 30px;
}
.actions-regist {
  border-radius: 10%;
  box-shadow: 3px 3px 3px gray;
  font-size: 24px;
  letter-spacing: 2px;
  width: 100px;
  outline: none;
}
#actions-regist-login {
  margin-top:10px;
  padding-bottom: 30px;
  outline: none;
}
.actions-regist-login {
  border-radius: 10%;
  box-shadow: 1px 1px 1px gray;
  font-size: 18px;
  letter-spacing: 2px;
  width: 100px;
  font-weight: normal;
  padding: 5px;
}
.actions-regist-login:hover {
  background-color:  #7aff7e;
  color: white;
  outline: none;
 }
.actions-regist:hover {
  background-color:  #8cff7a;
  color: white;
  outline: none;
 }

 .sessions-link {
   color: blue;
   text-decoration: none;
   font-size: 22px;
   position: absolute;
   top: 160px;
   left: 120px;
 }
 .sign-up-link {
  color: blue;
  text-decoration: none;
  font-size: 22px;
  position: absolute;
  top: 160px;
  left: 120px;
 }
 .field {
  input:focus {
    border: 2px solid #5a51f5;
    outline: none;
  }
 }


