.report-registration-container {
  width: 95%;
  margin: 0 auto;
}
.report-title {
  width: 20%;
  margin-left: 37%;
  text-align: center;
  padding: 0.25em 0.5em;
  font-weight: bold;
  color: #6091d3;
  background: #FFF;
  border: solid 3px #6091d3;
  font-size: 20px;
  letter-spacing: 0.5em;
}
.report-teacher {
  width: 30%;
  margin: 0 0 0 auto;
  font-size: 18px;
  letter-spacing: 3px;
}
.form-box {
  display: flex;
  margin-left: 5%;
}
.choose-box1 {
  width: 15%;
  margin-right: 90px;
  &__date {
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #232323;
    background: #e8ffeb;
    border-left: solid 10px #55fa3b;
    width: 100%;
    margin: 0 0 2em 0;
  }
  &__subject {
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #232323;
    background: #fff8e8;
    border-left: solid 10px #f7ba69;
    width: 100%;
    margin: 2em 0;
  }
  &__student {
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #232323;
    background: #ffe8fd;
    border-left: solid 10px #d265f7;
    width: 100%;
    margin: 2em 0;
  }
  &__principal {
    padding: 0.5em 1em;
    margin: 3em 0 0;
    color: #6091d3;
    background: #e4fcff;
    border-left: solid 10px #1dc1d6;
    width: 100%;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.32);
    font-size: 18px;
  }
}

#report_month_1i {
  height: 24px;
  margin-top: 5px;
}
#report_month_2i {
  height: 24px;
}
#report_month_3i {
  height: 24px;
}
#report_subject {
  height: 30px;
  margin: 6px;
}
#report_principal {
  width: 80%;
  outline: none;
  height: 30px;
  margin: 10px auto 5px;
}

.choose-box2 {
  width: 55%;
  padding: 1em 0 0 1em;
  color: #232323;
  background: #e9fefe;
  border-left: solid 10px #3c89fc;
  margin: 0 0 1em 0;
  &__container {
    margin: 0 auto;
    &__title {
      margin: 10px 0;
      &__contents {
        font-weight: bold;
        letter-spacing: 2px;
      }
      &__input {
        font-size: 22px;
        border: 1px solid #1b2538;
        border-radius: 4px;
        outline: none;
      }
      &__input:focus {
        outline: none;
        border:solid 1px rgb(50, 184, 237);  
        background-color: rgb(252, 252, 234); 
      }
    }
    &__description {
      margin: 15px 0;
      &__contents {
        font-weight: bold;
        letter-spacing: 2px;
      }
      &__input {
        outline: none;
        border: 1px solid #1b2538;
        border-radius: 4px;
      }
      &__input:focus {
        outline: none;
        border:solid 1px rgb(50, 184, 237);  
        background-color: rgb(252, 252, 234);  
      }
    }
    &__homework {
      margin: 10px 0;
      &__contents {
        font-weight: bold;
        letter-spacing: 2px;
      }
      &__input {
        outline: none;
        border: 1px solid #1b2538;
        border-radius: 4px;
      }
      &__input:focus {
        outline: none;
        border-color: rgb(50, 184, 237);   /* 枠線の色 */
        background-color: rgb(252, 252, 234);  /* 背景色 */
      }
    }
    &__other {
      margin: 10px 0;
      &__contents {
        font-weight: bold;
        letter-spacing: 2px;
      }
      &__input {
        outline: none;
        border: 1px solid #1b2538;
        border-radius: 4px;
      }
      &__input:focus {
        outline: none;
        border:solid 1px rgb(50, 184, 237);  /* 枠線の色 */
        background-color: rgb(252, 252, 234);  /* 背景色 */
      }
      &__btns {
        display: flex;
        justify-content: flex-end;
        margin-right: 7%;
      }
    }
  }
}
// .choose-box3 {
//   width: 15%;
//   margin-right: 30px;
// }
.report-registration-btn {
  // '編集'もこのボタンです
  background-color: rgb(255, 255, 255);
  color: rgb(0, 149, 238);
  display: block;
  font-size: 24px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(0, 149, 238);
  border-image: initial;
  border-radius: 4px;
  padding: 8px 10px;
  transition: all 0.3s ease-out 0s;
  text-decoration: none;
  cursor: pointer;
  margin-right: 3%;
  letter-spacing: 5px;
}
.report-registration-btn-delete {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 149, 238);
  display: block;
  font-size: 24px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(0, 149, 238);
  border-image: initial;
  border-radius: 4px;
  padding: 8px 10px;
  transition: all 0.3s ease-out 0s;
  text-decoration: none;
  letter-spacing: 5px;
}
.report-registration-btn:hover {
  color: #fff;
  background-color:  rgb(0, 149, 238);
}
.report-registration-btn-delete:hover {
  color: #fff;
  background-color:  rgb(0, 149, 238);
}

