.student-registration-container {
  background-color: white;
  width: 35%;
  margin: 0 auto;
  text-align: center;
  background: #f4f6f7;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.22);
  border-radius: 8px;
  position: relative;
  color: rgb(94, 91, 91);
}
.student-information {
  font-size: 34px;
  letter-spacing: 4px;
  margin-bottom: 20px;
  background: #6cf7b6;
  padding: 4px;
  text-align: center;
  color: #FFF;
  font-weight: bold;
  border-radius: 8px;
  padding-top: 12px;
}
.student-name-field {
  font-size: 22px;
  &__fullname {
  font-size: 18px;
  // font: 15px/24px sans-serif;
  box-sizing: border-box;
  width: 50%;
  padding: 0.3em;
  transition: 0.3s;
  letter-spacing: 1px;
  color: black;
  border: 1.4px solid #1b2538;
  border-radius: 4px;
  }
  &__fullname:focus {
    border: 1.4px solid #3cda90;
    outline: none;
    box-shadow: 0 0 5px 1px rgba(60, 218, 118, 0.5);
  }
}
.grade-field {
  font-size: 20px;
  margin: 20px 0;
}
.grade_class {
  font-size: 22px;
  letter-spacing: 2px;
  width: 240px;
  height: 40px;
  background-color: white;
  margin-left: 1px;
  outline: none;
}
.grade_class:hover {
  border: 1.5px solid #3cda90;
  outline: none;
}
.subject-title {
  margin: 25px 0 0 20px;
  font-size: 20px;
  letter-spacing: 2px;
}
.subject-field {
  font-size: 22px;
  margin: 5px 0 0 0;
}
.student-regist {
  margin: 20px 0;
  border-radius: 10%;
  font-size: 22px;
  letter-spacing: 2px;
  width: 15%;
}
.student-regist:hover {
 background-color:#6ef9b8;
 color: white;
}